
apiVersion: v1
kind: Secret
metadata:
  name: jenkins-jnlp-slave-secret
type: Opaque
data:
  # INFRASTRUCTURE_CONF_GIT_TOKEN is for oss-build/oss-internal
  # must base64 encode by: echo -n ${INFRASTRUCTURE_CONF_GIT_TOKEN} | base64 -w 0
  # see: docker-gitlab/gitlab-runner/README.md about how to get it
  INFRASTRUCTURE_CONF_GIT_TOKEN: <PUT_BASE64_INFRASTRUCTURE_CONF_GIT_TOKEN_HERE_MANUALLY>
  JENKINS_URL: <PUT_JENKINS_URL_HERE_MANUALLY>
